# Created by .ignore support plugin (hsz.mobi)
## Idea
.idea

## Personal and company notes
_notes/Kakaopay
_notes/Personal

# Jelly
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Git ignores
.obsidian/workspace
